{% extends 'base_generic.html' %}

{% block title %}Signup if not yet registered{% endblock %}

{% block content %}
<br>
<br>
<div style="text-align: center;">
    <h5 class="vLargeTextField">Signup to Blog
    </h5>
    <hr>
    <div class="mt-3"></div>

    <form method="post" action="#">
        {% csrf_token %}
        <ul class="list-group list-group-flush">

            {{ form.as_table }}

            <input type="submit" value="Signup" class="btn btn-primary mt-1">
            <a href="{% url 'login' %}">Have an account?</a>
        </ul>
    </form>

    <br>
    <br>
    <br>
    <br>
{% endblock %}
</div>